



html, body{
  height: 100%;
  background: #fbf3f3;
  overflow-x: hidden;
 
}

/*----media----------*/

@media only screen and (max-width: 580px) 


{

div.col-12.col-sm-6.col-md-4.col-lg-3.mb-3.produto{
  text-align: center;
}


.img-produto{
  margin-left: auto;
  margin-right: auto;
  max-width: 340px;
}

 .galeria .produto. .img-produto{
  margin-left: auto;
  margin-right: auto;
  max-width: 240px;
 
}


}
/*-------------btn----------------------------*/




@media only screen and (max-width: 600px) 
{
header img.logo{
  margin: 5px auto 5px 15px;
}

header ul{
  margin-right: 10px;
  margin-left: 30px;
}
}

@media only screen and (min-width: 600px) 
{
  div.icones{
    text-align: center;
  }
   header img.logo
  }
  {
  padding-left: 50px;
  } 

  header ul
  {
  margin-right: 15px;
  margin-left: 30px;
  }

}

@media only screen and (min-width: 768px) 

{
  header img.logo
  {
  padding-left:110px;
  } 
  header ul
  {
  margin-right: 110px;
  margin-left: 30px;
  }
}

@media only screen and (min-width: 992px) {

  header img.logo
  {
  padding-left:180px;
  } 
  header ul
  {
  margin-right: 180px;
  }
}

}

@media only screen and (min-width: 1200px) 
{
  header img.logo
  {
  padding-left:350px;
  } 
  header ul
  {
  margin-right: 550px;
  }
}

img.img-fluid.divisor{
  max-width: 300px;
}

  img.img-fluid.img-carousel{
    min-height: 165px;
  }
/*---------------------1--------------------*/



header nav.top{

  text-align: left;
  margin: 10px auto 10px auto;
  

}

header{
  
background: rgb(229,184,199);
background: -moz-linear-gradient(169deg, rgba(229,184,199,1) 42%, rgba(196,1,57,1) 100%);
background: -webkit-linear-gradient(169deg, rgba(229,184,199,1) 42%, rgba(196,1,57,1) 100%);
background: linear-gradient(169deg, rgba(229,184,199,1) 42%, rgba(196,1,57,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5b8c7",endColorstr="#c40139",GradientType=1);
}

header img.logo{
  margin: 5px auto 5px 15px;
}


header nav button.nav-top{
 margin-top:-100px;
 color:black;
}

header .navbar-dark .navbar-toggler {
    color: rgba(255,255,255,1.0);
    border-color: rgba(255,255,255,.5);
}

header .navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255, .7);
    font-size: 1.4em;
}
header .navbar-dark .navbar-nav .nav-link:hover {
    color:white;
    font-size: 1.4em;
}

header .navbar-dark .navbar-nav .ativo{
    color: white;
    
}
header .navbar-dark .navbar-nav .nav-link.ativo:hover{
    
    color: white;
    cursor:text;
    
}

/*--------------------------------------2-----------------------------*/


section.slo{
     background: rgb(152,0,139);
background: -moz-linear-gradient(152deg, rgba(152,0,139,1) 0%, rgba(217,0,136,1) 100%);
background: -webkit-linear-gradient(152deg, rgba(152,0,139,1) 0%, rgba(217,0,136,1) 100%);
background: linear-gradient(152deg, rgba(152,0,139,1) 0%, rgba(217,0,136,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c30097",endColorstr="#b10054",GradientType=1);
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 1px 10px 1px 10px;

}

/*-------------------------------3------------------------------*/


div.carousel{
  text-align: center;
  padding: 30px;
  background: #fbf3f3;
}

a.carousel-control-next, a.carousel-control-prev{
  color: gray;
}

/*----------------------4------------------------------------*/


section#produtos{
 
 text-align: center;
 background: #fbf3f3;
}
section#produtos h2{
  text-transform: uppercase;
  color: rgba(255, 50, 127, 1.0);
  font-size: 1.2em;
}
section#produtos div.container{
  
  padding: 25px;
  text-align: center;
}

section#produtos div.caixa-produto{
  
  margin: 10px auto 0px auto ;
   background: rgba(245, 245, 220, 0.5);

  border-radius: 10px;
  padding: 4px;
}

section#produtos h2.titulo-secao{
  color: #c30371;
  margin: 50px auto 10px auto;
   background: transparent;
   font-size: 2em;
  
   
}

div.background-padrao{
  background: #fbf3f3;
  border: 2px solid transparent;
}

 

div.caixa-produto img{
  
  border-radius:5px;
  border: 1px solid black;
  margin: 5px;
}

/*--------------------------------------5-------------------------*/

section#sbtcont{
  
  text-align: center;

}

div.btcont{
display: inline-block;
}

div.btcont .btn-custom{
  
  border-radius: 500px;
  -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.6s;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.4em;

}


div.btcont.ver-mais .btn-custom{
  color: white;
  background:rgba(30, 48, 80, 1.0);
  padding: 10px 70px 10px 70px;
}
div.btcont.ver-mais .btn-custom:hover{
  color: black;
  background:#00ffff;

}

div.btcont.what .btn-custom{
  color: white;
  background:#2ab200;
}
div.btcont.what .btn-custom:hover{
  color: white;
  background:black;

}

section#sbtcont{
  text-align: right;
  margin-right: 25px;

}
/*----------------------nossos produtos------------------------------------------------------------*/

.borda-titulo-nossos-produtos{
padding: 5px;
border-bottom: 1px solid rgb(229,184,199,0.6);;
}

section#nossos-produtos{
  text-align: center;
  color: white;
  
  
}



section#nossos-produtos div.nossos-produtos-cont{
   /* background:rgba(30, 89, 100, 0.8);*/
    background: #FFC3DA;
    background: linear-gradient(to right, #FFC3DA 0%, #b10086 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 40em;
    min-height: 15em;
    padding-top: 10px;
    padding-bottom:10px ;


}
div.nossos-produtos{
  background: #d4a0a1;
    background: linear-gradient(to right, #d4a0a1 0%, #d4a0a1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
}

section#nossos-produtos div.nossos-produtos-cont{
  text-align: center;
}
/*--------------------------------pagamento----------------------------------------*/


.borda-titulo-pagamento{
padding: 5px;
border-bottom: 1px solid rgb( 0, 255, 255,0.6);;
}

div.meios-de-pag button{
  background: none;
  border: none;
  color: white;
}
div.meios-de-pag button:hover{
  cursor: pointer;
}

section#pagamento{
  text-align: center;
  color: white; 

 
}

section#pagamento div.pagamento-cont{
  /*background:rgba(30, 48, 80, 0.9);*/
  background: #84f6ff;
    background: linear-gradient(to right, #84f6ff 0%, #345bff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 40em;
    min-height: 15em;
    padding-top: 20px;
    margin-top: 15px;

}

section#pagamento div.meios-de-pag{
  text-align: center;
   background: #aff9ff;
    background: linear-gradient(to right, #aff9ff 0%, #738eff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;

}






/*--------------------------------------------------------footer-------------------------------------------------*/



footer{
  background: rgb(152,0,139);
background: -moz-linear-gradient(152deg, rgba(152,0,139,1) 0%, rgba(217,0,136,1) 100%);
background: -webkit-linear-gradient(152deg, rgba(152,0,139,1) 0%, rgba(217,0,136,1) 100%);
background: linear-gradient(152deg, rgba(152,0,139,1) 0%, rgba(217,0,136,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#98008b",endColorstr="#d90088",GradientType=1);
   color: black;
}
footer div.rodape{

margin-top: 10px;
margin-left:3px;
display: inline;
}

div.icones{
  
  display: inline;

}
.icones a{
  color: black;
  font-size: 2.8em;
  padding: 10px;
   transition:color 0.6s;
}

.icones a:hover{
  color: #e7ddd5;
}


/*---------------------------------------------------------------------------------------------------pagi-produtos------------------------------------------------------------*/


body#pagina-de-produtos div.btcont.what{
position: fixed;
font-size: 2em;
bottom: 140px;
right: 15px;


}
body#pagina-de-produtos div.btcont.what a{
  border-radius: 100px;
}
/*-------------------------------------------------produ-------------------------*/



body#pagina-de-produtos div.caixa-produto-texto{
  text-align: left;
  margin-left: 50px;
  font-size: 1em;

}

body#pagina-de-produtos div.caixa-produto-texto p.decricao-produto{
  display:inline-block;
}


body#pagina-de-produtos section#produtos div.primeira-linha{

}

body#pagina-de-produtos section#produtos div.ultima-linha{
  margin-bottom: 60px;
  
}


/*--------------------------------------sapatilha79---------------------------*/



section#produtos div#sapatilha-79 div.caixa-produto{
  background: none;
}

section#produtos div#sapatilha-79 .col-md-3{
  padding: 2px;
}



/*-------------------------- pagina de produtos seção sem preço definido na descrição---------------------------------*/




.produto .img-produto {
    height: 100%;
    width: 100%;
    background-size: cover !important;
    background-position: center !important; }


    div.produtos-sem-preco{
      border: 1px solid transparent;
      background: rgba(0, 0, 0, .4) ;
      border-radius: 10px;
    }
  








           

 




































